<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        bootstrap="../vendor/autoload.php"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        displayDetailsOnTestsThatTriggerWarnings="true"
        colors="true">
  <source>
    <include>
      <directory>../src</directory>
    </include>
  </source>
  <coverage>
    <report>
      <text outputFile="php://stdout"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="µlogger test suite">
      <directory>Component</directory>
      <directory>Controller</directory>
      <directory>Entity</directory>
      <directory>Mapper</directory>
      <directory>Middleware</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <php>
    <server name="HTTP_HOST" value="http://127.0.0.1"/>
    <var name="DB_DSN" value="mysql:unix_socket=/tmp/mysql.sock;dbname=ulogger_tests;charset=utf8"/>
    <var name="DB_USER" value="ulogger_tests"/>
    <var name="DB_PASSWD" value="Tests0nly"/>
  </php>
</phpunit>
